@model firma2.Models.Entity.CAGRIFIRMA
@{
    ViewBag.Title = "YeniCagri";
    Layout = "~/Views/Shared/firmalayout.cshtml";
}

<h2>Yeni Cagri Ekleme Sayfası</h2>
<br />
<form method="post">
    @Html.Label("Konu")
    @Html.TextBoxFor(x=>x.KONU, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x=> x.ACIKLAMA,10,4, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Çağrı Oluştur</button>
</form>

